.navlink{
    text-decoration: none;
    padding: 0 0.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-default);
    font-family: "Bitcount Prop Single", system-ui;
}

.navlink:hover{
    color: gold;
    transition: all 0.2s ease-in;
}