.sessionhero{
    color: var(--text-default);
    width: 45%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-left: 10vh;
}
.title{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.subtitle{
    color: var(--warning);
    font-size: 2rem;
}


@media(max-width:600px){
    .sessionhero{
        color: var(--text-default);
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50% auto;
    
    }

    .title{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .subtitle{
        font-size: 0.9rem;
        color: var(--warning);
    }
}




