.sessionhero{
    color: white;
    width: 45%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-left: 10vh;
}
.title{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.subtitle{
    color: gold;
    font-size: 2rem;
}


@media(max-width:600px){
    .sessionhero{
        color: white;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .title{
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    .subtitle{
        font-size: 1.1rem;
        color: gold;
    }
}