.element{
   display: flex;
   justify-content: space-between;
   gap: 0.8rem;

}
@media(max-width: 600px){
    .element{
        display: flex;
        justify-content:center;
        gap: 1rem;
     }
}

.icon{
    text-decoration: none;
    color: var(--primary);
    background-color: var(--text-default);
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.icon:hover{
    filter: brightness(80%);
}

.icon sup{
    background-color: var(--warning);
    padding: 0.2rem;
    border-radius: 2rem;
}