.card{
    background-color: var(--gray-900);
    max-width: 15rem;
    padding: 1rem;
    gap: 2rem;
    box-sizing: border-box;
    border: 2px solid var(--gray-900);
    box-shadow: 0px 0px 2px 2px var(--gray-750);
    border-radius: 0.5rem;
}
.image img{
    max-width: 90%;
    filter: brightness(80%);
}

.imagesize{
    width: 15rem;
    height: 15rem;
}
.imagesize:hover{
    cursor: pointer;
    filter: brightness(100%)
}

.name{
    color: var(--blue-light);
}
.line{
  
    border-color: transparent; 
    background-color: var(--gray-700); 

    width: 100%; 
    margin: 1rem 0;
   
}
.price{
    font-size: 1.5rem;
    color: var(--text-default);
}
.card:hover{
    background-color: var(--gray-750);
    box-shadow: 0px 0px 50px 10px var(--gray-650);
    transition: 0.6s all ease-in-out;
    border: 2px solid var(--gray-650);
}