.card{
    background-color: rgb(20, 20, 20);
    max-width: 15rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid rgb(20, 20, 20);
    box-shadow: 0px 0px 10px 2px rgb(44, 67, 90);
    border-radius: 0.7rem;
}
.image img{
    max-width: 90%;
}

.imagesize{
    width: 10rem;
    height: 10rem;
}

.name{
    color: lightblue;
}
.price{
    font-size: 2rem;
    color: greenyellow;
}

.addcart, .price{
    margin-bottom: 1rem;
}

.addcart{
    padding: 0.5rem 0.5rem;
    margin: 0 0.2rem;
    background-color: rgb(83, 72, 1);
    border-radius: 0.3rem;
    color: rgb(117, 117, 117);
    border: none;
}

.addcart:hover{
    filter:brightness(80%);
    color: white;
    cursor: pointer;
}

.card:hover{
    background-color: rgb(30, 30, 30);
    box-shadow: 0px 0px 50px 10px rgb(94, 94, 94);
    transition: 0.6s all ease-in-out;
    border: 2px solid rgb(103, 103, 103);
}