.containerhero{
    max-width: 100%;
    margin: auto;
    height: 100vh;
    background-image: linear-gradient(to right, var(--hero-color1), var(--hero-color2)), url("https://media.gq-magazine.co.uk/photos/645b5c3c8223a5c3801b8b26/16:9/w_1280,c_limit/100-best-games-hp-b.jpg?mbid=social_retweet") ;
    background-size: cover;
}

