.position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 5rem;
    background-color: var(--header-color);
}

@media(max-width: 600px){
    .position{
        display: block; 
    }
}