:root{
  --gray-600: #8c8989;
  --gray-650: rgb(94, 94, 94);
  --gray-700: #242424;
  --gray-750: rgb(30, 30, 30);
  --gray-800: rgb(10, 10, 10);
  --gray-900: rgb(20, 20, 20);
  --black: rgb(0,0,0);
  --black-transparent: rgba(0, 0, 0, 0.6);
  --blue-light: rgb(173, 216, 230);
  --blue-transparent: rgba(46, 150, 255, 0.1);
  --blue-shadow: rgb(44, 67, 90);

  --primary: rgb(4, 44, 83);
  --text-default: #ffffff;

  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;


}