.buttonlink{
    padding: var(--buttonlinksize);gap: 3rem;
    margin-right: 0.5rem;
    background-color: var(--primary);
    border-radius: 0.3rem;
    color: var(--text-default);
    border: none;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.buttonlink:hover{
    filter:brightness(80%);
    color: var(--text-default);
    cursor: pointer;
}